{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	Liste des perturbations
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <!-- Script ini_ajax -->
{% endblock %}

{% block body %}

    <div id="ajax_loader" data-function="{{ function }}">
    </div>

{% endblock %}
