# Cache and logs (Symfony3)
Symfony/var/cache/*
Symfony/var/logs/*
Symfony/var/sessions/*
!Symfony/var/cache/.gitkeep
!Symfony/var/logs/.gitkeep
!Symfony/var/sessions/.gitkeep
!Symfony/var/SymfonyRequirements.php

# Parameters
Symfony/app/config/parameters.yml
Symfony/app/config/parameters.ini

# Managed by Composer
Symfony/app/bootstrap.php.cache
Symfony/var/bootstrap.php.cache
Symfony/bin/*
!Symfony/bin/console
!Symfony/bin/symfony_requirements
Symfony/vendor/

# Assets and user uploads
Symfony/web/bundles/
Symfony/web/uploads/

# Assets managed by Bower
Symfony/web/assets/vendor/

# PHPUnit
Symfony/app/phpunit.xml
Symfony/phpunit.xml

# Build data
Symfony/build/

# Composer PHAR
#/composer.phar

# upload
Symfony/upload/logo_type_perturbation
Symfony/upload/logo_type_objet_terrain
!Symfony/upload/*/_*

# Fichiers temp :
*~
*#
.directory