@import "constantes";

.flex {
	display : flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;

	margin: 0 auto;
	&.row-300 .flex-item {min-width: 300px;}
	&.row-200 .flex-item {min-width: 200px;}

	.flex-item {
		flex: 2 1 auto;
		transition: width 0.7s ease-out;
		min-width: 180px;
	}
}