@import "constantes";

.parent {
	display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
	margin: 0 auto;
	
	.child {
		flex: 2 1 auto;
		transition: width 0.7s ease-out;
		min-width: 300px;
		padding: 10px;

		&.max-300 {max-width: 300px;}
		&.max-400 {max-width: 400px;}
		&.max-500 {max-width: 500px;}
		&.max-600 {max-width: 600px;}
	}
}