html, body {margin: 0; padding: 0; height: 100%;}

nav {
	position: fixed;
	width: 100%;
	height: 30px;
	border-top: 1px solid #000;
	bottom: 0;
	left: 0;
}

nav>div {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 6px;
	cursor: pointer;
}

nav>div:hover, nav>div.selected {
	color: #0078A8;
}

section {
	width: 100%;
	height: 100%;
	padding-bottom: 31px;
	box-sizing: border-box;
}

.full {
	width: 100%;
	height: 100%;
}

.ajax.loading {
	background-image: url('../ajax-loader.gif');
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
}

img.icon {
	max-width: 20px;
	max-height: 20px;
}