{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	Ajout d'un objet
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/init_geoloc.js') }}"></script>
	<script src="{{ asset('js/init_ajax.js') }}"></script>
	<script src="{{ asset('js/add_object.js') }}"></script>
{% endblock %}

{% block titleblock %}
	<h1>Ajout d'un objet</h1>
{% endblock %}

{% block body %}

	<div class="parent">
		<div class="child border-form">
			<div id="ajax_loader" data-function="none"></div>
		</div>

		<div class="child">
			<div id="map"></div>
		</div>

	</div>

{% endblock %}
