<div>
	<h2>{{ titre }}</h2>
	<div class="elements">
		{% for e in elements %}
			<div class="element">
				<a href="{{ path(route_edit, {id : e.id}) }}">{{ e.nom }}</a>
			</div>
		{% endfor %}
	</div>
</div>