body > * {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

body > nav > a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1ex;
    border: solid black 1px;
    margin: 0px 1em;
}

body > nav > a:hover {
    background-color: rgb(200, 200, 200);
}