{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	la liste des utilisateurs
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

	<div>
		<h2>la liste des utilisateurs</h2>
		<div class="allusers">
			{% for user in users %}
				<div class="user">
					<a href="{{path('user_show', {id : user.id})}}"> {{ user.username }} {{ user.name }} {{ user.id }}</a>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}