{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	Détails de l'utilisateur
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block javascripts %}
	
{% endblock %}

{% block body %}

<div class="user">

	<div id="show" class="child" data-id="{{ user.id }}" data-name="{{ user.name}}" data-last-name="{{last_name}}">

	</div>
</div>

{% endblock %}
