{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('init_ajax.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="ajax_loader" data-function="{{ function }}">
    </div>

{% endblock %}
